/* :root{
    --main-color: #FFFBF0;
    --main-color1: #0E0E0E;
    --primary-color1: #A7BA9C;
    --dark-color:#21251F;
    --secondary-color1: #FFFBF0;
    --secondary-color2: #FFF3CA;
    --secondary-color3: #FAAE54;
    --main-text: #0E0E0E;
} */

body{
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
}


header{
    background-color: #FFFBF0;
}
footer{
    background: var(--dark-color);
    background-color: #FFFBF0;
}

#quote{
     background-color:  #FFFBF0;
}


/* #main_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBF0;
    height: 200px;
    width: 1440px;
    text-align: center;
} */

#main_nav{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    width: 1440px;
    border: 3px solid green;
    padding: 10px;
    justify-content: space-around;
}

#main_nav img{
    width: 150px;

}

#main_nav a {
    color: black;
    /* padding: 30px 60px; */
    padding: 3em;
    text-decoration: none;
}



#main_nav a:visited{
    text-decoration:underline 3px;
    text-underline-offset: 0.4em;
    color: #263C1A;
}

#main_nav a:hover{
    text-decoration:underline 3px;
    text-underline-offset: 0.4em;
    color: #263C1A;


}