:root{
    --main-color: #FFFBF0;
    --main-color1: #0E0E0E;
    --primary-color1: #A7BA9C;
    --dark-color:#21251F;
    --secondary-color1: #FFFBF0;
    --secondary-color2: #FFF3CA;
    --secondary-color3: #FAAE54;
    --main-text: #0E0E0E;
}

l
footer{
    background: var(--dark-color);
or    co: var(--main-color);
}