body {
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
}

header {
    background-color: #FFFBF0;
}

footer {
    background-color: #21251F;
}

footer img {
    width: 250px;
}

#quote {
    background-color: #FFFBF0;
}

#quote p {
    width: 90%;
    text-align: justify;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-content: space-around;
    font-family: Kantumruy, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 6em;
}


/* MAIN NAV */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBF0;
    height: 200px;
}

.navbar a {
    color: black;
    padding: 30px 80px;
    text-decoration: none;
    font-family: 'KoHo', sans-serif;
}

.navbar a:visited {
    color: #A7BA9C;
}

.navbar img {
    width: 100px;
}


/* :root{
    --main-color: #FFFBF0;
    --main-color1: #0E0E0E;
    --primary-color1: #A7BA9C;
    --dark-color:#21251F;
    --secondary-color1: #FFFBF0;
    --secondary-color2: #FFF3CA;
    --secondary-color3: #FAAE54;
    --main-text: #0E0E0E;

    Não funcionou =(
} */