*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;700&display=swap');

body {
    margin: 0;
}

h1, h2{
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 100;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBF0;
    height: 200px;
}

.navbar a {
    color: black;
    padding: 30px 80px;
    text-decoration: none;
    font-family: 'KoHo', sans-serif;
}

.navbar a:visited{
    color: #A7BA9C;
}

.background {
    height: 600px;
    background: url(/FilmesNerds/img_index/extra/background-making-of.jpeg) no-repeat center;
    background-size: cover;
}

.header {
    height: 400px;
    padding: 80px;
    text-align: center;
    font-size: 18px;
}

.videos {
    background-color: #aabea2;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.videos div {
    background: #FFFFFF;
    height: 450px;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
}

.rodape {
    background-color: #21251F;
    height: 400px;
    padding: 50px;
}

.container {
    display: flex;
    background-color: #21251F;
}

.logo, .lista {
    width: 50%;
}

.lista {
    font-family: 'KoHo', sans-serif;
    direction: rtl;
    color: #FFF3CA;
}

.lista ul li {
    padding: 10px;
}

.rights {
    font-family: 'KoHo', sans-serif;
    background-color: #21251F;
    color: #FFF3CA;
}