*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;700&display=swap');

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

h1, h2{
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 100;
}

.navbarMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBF0;
    height: 200px;
    position: fixed;
    width: 100%;
}

.navbarMenu a {
    color: black;
    padding: 30px 80px;
    text-decoration: none;
    font-family: 'KoHo', sans-serif;
    line-height: normal;
}

.dropdown a {
    display: inline-block;
}

.dropdown:hover .drop-content {
    display: block;
}

 .dropdown:hover .dropbtn {
    color: #aabea2;
}

 .drop-content {
    width: 200px;
    align-items: center;
    text-align: center;
    position: absolute;
    display: none;
    background-color: #aabea2;
}

 .drop-content a {
    border: 1px solid #fffbf035;
    display: block;
    padding: 40px;
    color: black;
}

 .drop-content a:hover {
    background-color: #21251F;
    color: white;
}

header {
    padding-top: 200px;
}

.background {
    height: 600px;
    background: url(/FilmesNerds/img_index/extra/background-trilha.png) no-repeat center;
    background-size: cover;
}

.header {
    height: 400px;
    padding: 80px;
    text-align: center;
    font-size: 18px;
}

.sobre {
    display: flex;
    align-items: center;
    padding: 80px;
    height: 600px;
    background-color: #FFFBF0;
}

.sobre img {
    margin-right: 50px;
}

.trilhas1, .trilhas2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;

}

.trilhas1 a, .trilhas2 a {
    padding: 40px;
}

.trilhas img:hover {
    padding: 10px;
    background-color: #aabea2;
    border-radius: 10px;
}

.trilhas1 {
    background-color: #FFFBF0;
}

.playlists {
    height: 350px;
    padding: 80px;
    text-align: center;
    font-size: 18px;
}

.rodape {
    background-color: #21251F;
    padding: 50px;
}

.containerFooter {
    display: flex;
    background-color: #21251F;
}

.logo, .lista {
    width: 50%;
}

.lista {
    font-family: 'KoHo', sans-serif;
    direction: rtl;
    color: #FFF3CA;
}

.lista ul li {
    padding: 10px;
}

.rights {
    font-family: "Kantumruy Pro", sans-serif;
    background-color: #21251F;
    color: #FFF3CA;
    font-size: 18px;
    margin-bottom: 16px;
}