    /* Font */
    
    @import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap') .koho-semibold {
        font-family: "KoHo", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;700&display=swap');
    body {
        background-color: #FFFBF0;
    }
    
    nav {
        background-color: #FFFBF0;
        /* padding: 40px 0; */
        text-align: center;
        text-transform: uppercase;
        div {
            align-items: center;
            display: flex;
        }
        a {
            color: #0E0E0E;
            padding: 30px 80px;
            text-decoration: none;
            font-family: "KoHo", sans-serif;
            font-weight: 600;
        }
        /* Não estão funcionando */
        a:visited {
            color: #5f2121;
        }
        a:hover {
            color: #445a4f;
        }
        a:visited {
            color: #0E0E0E;
        }
    }
    
    header {
        background-color: #A7BA9C;
        img {
            border-radius: 10px;
        }
        div {
            flex-flow: column wrap;
        }
    }
    
    h1 {
        font-weight: 700;
    }
    
    h1, h2, h3 {
        font-family: 'Kantumruy Pro', sans-serif;
    }
    
    h3 {
        font-weight: 500;
    }
    
    header {
        color: white;
    }
    
    .quote {
        padding: 125px 100px;
        font-style: italic;
    }
    
    .credit {
        font-family: 'KoHo', sans-serif;
        background-color: #21251F;
        color: #FFF3CA;
    }
    
    .bg {
        background-color: #21251F;
    }