body {
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
}

header {
    background-color: #FFFBF0;
}

footer {
    background-color: #21251F;
    height: 400px;
    padding: 50px;
    img {
        width: 250px;
    }
    .lista {
        font-family: 'KoHo', sans-serif;
        direction: rtl;
        color: #FFF3CA;
    }
    ul {
        list-style-type: none;
    }
    ul li {
        padding: 10px;
    }
}


/* MAIN NAV */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBF0;
    height: 200px;
    width: 100%;
    text-transform: uppercase;
    a {
        color: #0E0E0E;
        padding: 30px 80px;
        text-decoration: none;
        font-family: "KoHo", sans-serif;
        font-weight: 600;
    }
    a:hover {
        color: #A7BA9C;
    }
    img {
        width: 100px;
    }
}

.container {
    display: flex;
    background-color: #21251F;
}

.rights {
    font-family: 'KoHo', sans-serif;
    background-color: #21251F;
    color: #FFF3CA;
}

.logo, .lista {
    width: 50%;
}

#quote {
    background-color: #FFFBF0;
}

#quote p {
    width: 90%;
    text-align: justify;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-content: space-around;
    font-family: Kantumruy, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 6em;
}

.extra {
    background-color: #a7ba9c87;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.extra div h3 {
    font-family: 'KoHo', sans-serif;
    ;
}

.extra div img {
    width: 100%;
    border-radius: 20px;
}

.extra div {
    background: #FFFFFF;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.extra p {
    margin-bottom: 50px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 100;
}

h2 {
    /* H2 */
    font-family: "KoHo", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}